.page-container {
  height: 100%;
  width: 100%;

  overflow: hidden;

  padding: 0px 15px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.main-page-header {
  max-height: 24px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-route-header {
  cursor: pointer;

  color: var(--page-text-color);

  text-decoration: none;
}

.back-route-header:hover {
  text-decoration: underline;
}
