.sidebar {
  grid-area: sidebar;

  width: 70px;

  overflow-y: auto;

  padding: 15px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  transition: all 0.2s;

  overflow-x: hidden;
}

.sidebar.active {
  width: 200px;

  align-items: flex-start;
  overflow-x: hidden;
}

.sidebar-nav,
.sidebar-nav-item {
  display: flex;
  align-items: center;
  justify-content: left;
}

.sidebar-nav {
  width: 100%;

  flex-direction: column;
  gap: 10px;
}

.sidebar-nav-item {
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  gap: 10px;

  background-color: #1e2329;
  color: var(--main-font-color);

  height: 40px;
  width: 100%;
  min-width: 40px;

  padding: 0px 10px;

  border-radius: 5px;
  transition: all 0.2s;
}

.sidebar .sidebar-nav-item p {
  display: none;
}

.sidebar.active .sidebar-nav-item p {
  display: block;
}

.sidebar-nav-item:hover {
  background-color: #a5a5a5;

  padding-left: 15px;
}

.sidebar .sidebar-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 0px;
}

.sidebar .sidebar-nav-item:hover {
  padding-left: 0px;
}

.sidebar.active .sidebar-nav-item {
  align-items: center;
  justify-content: flex-start;

  padding: 10px;
}

.sidebar.active .sidebar-nav-item:hover {
  padding-left: 15px;
}

@media screen and (max-width: 468px) {
  .sidebar-nav-item {
    min-width: 50px;

    font-size: 0px;
  }
}
