.main-page-header-container {
  width: 100%;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-item label {
  width: 100%;
  min-width: fit-content;
}

.random-button {
  cursor: pointer;

  width: fit-content;

  background-color: var(--simple-button-bg-color);
  color: var(--page-text-color);

  border: var(--simple-button-border);
  border-radius: 5px;

  padding: 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.2s;
}

.random-button:hover {
  filter: var(--simple-button-hover-color);
}

.random-button:active {
  transform: scale(0.9);
}

.searchbar {
  width: 100%;
  min-width: 40px;
  max-width: 240px;

  background-color: var(--simple-button-bg-color);
  color: var(--page-text-color);

  border: var(--simple-button-border);
  border-radius: 5px;

  padding: 10px 10px;
}

.searchbar:focus {
  outline: 2px solid #4361ee;
}

.searchbar::placeholder {
  color: var(--music-player-artist-album);
}

@media screen and (max-width: 728px) {
  .main-page-header-container {
    height: fit-content;
  }

  .header-item label,
  .random-button {
    display: none;
  }
}
