.main-page-header-container {
  width: 100%;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  width: 100%;
  min-width: 40px;
  max-width: 240px;

  background-color: #1e2329;
  color: white;

  border: 1px solid #2d3137;
  border-radius: 5px;

  padding: 10px 10px;
}

.searchbar:focus {
  outline: 2px solid #4361ee;
}

.searchbar::placeholder {
  color: #c5c5c5;
}
