.settings-item-container {
  background-color: #2d3137;

  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 5px;

  padding: 10px 15px;
}

.settings-item-title {
  font-size: 20px;
  font-weight: bold;
}

.settings-item-description {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .settings-item-title {
    font-size: 18px;
  }

  .settings-item-description {
    font-size: 12px;
  }
}
