@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("assets/PlusJakartaSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --page-text-color: white;
  --page-bg-color: #161b22;
  --music-player-bg-color: #1e2329;

  --simple-button-text-color: #b2b6ff;
  --simple-button-svg-icon-color: white;
  --simple-button-bg-color: #161b22;
  --simple-button-hover-color: drop-shadow(0 0 8px #8b91ff);
  --simple-button-border: 1px solid #30363d;
}

.light-mode {
  --page-text-color: black;
  --page-bg-color: #fff;
  --music-player-bg-color: #fff;

  --simple-button-text-color: #b2b6ff;
  --simple-button-svg-icon-color: white;
  --simple-button-bg-color: #161b22;
  --simple-button-hover-color: drop-shadow(0 0 8px #8b91ff);
  --simple-button-border: 1px solid #30363d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--page-text-color);
  background-color: var(--page-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8d99ae;

  border-radius: 5px;
  border: 1px solid #8d99ae;
}

hr {
  background-color: #22272d;

  height: 3px;
  min-height: 3px;
  width: 99%;

  margin: 0 auto;
  border: none;
  border-radius: 20px;
}

svg {
  min-width: 16px;
  fill: var(--simple-button-svg-icon-color);
}
