.current-song-dialog {
  height: auto;
  width: auto;

  place-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 15px;

  background-color: var(--simple-button-bg-color);

  color: var(--app-color);

  border: var(--simple-button-border);
  border-radius: 15px;

  transition: all 0.2s;
}

.song-dialog-close {
  display: none;
  height: 0px;
  width: 0px;
}

.current-song-dialog::backdrop {
  pointer-events: none;

  background: rgb(0, 81, 156);
  background: linear-gradient(
    180deg,
    rgba(0, 81, 156, 1) 0%,
    rgba(0, 29, 61, 1) 100%
  );
  opacity: 0.75;
}
