.song-details-container {
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.current-song-img {
  height: 70px;
  width: auto;

  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.song-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.song-name {
  color: white;

  font-weight: bold;
}

.song-artist-album-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.song-artist-album-container p {
  font-size: 16px;
  color: #c5c5c5;
}

@media screen and (max-width: 768px) {
  .current-song-img {
    height: 50px;
  }

  .song-name {
    font-size: 16px;
  }

  .song-artist-album-container p {
    display: none;
  }
}
