.song-details-container {
  width: 100%;

  display: flex;
  gap: 15px;
}

.current-song-img {
  --image-height: 70px;

  height: var(--image-height);
  width: auto;
  max-width: var(--image-height);

  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.song-details {
  max-width: calc(450px - 80px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.song-name {
  width: 100%;
  color: white;

  font-size: 20px;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-artist-album-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.song-artist-album-container p {
  font-size: 16px;
  color: #c5c5c5;
}

.song-artist,
.song-album {
  white-space: nowrap;
  overflow: hidden;
}

.song-artist {
  min-width: max-content;
}

.song-album-text {
  width: 100%;
  min-width: 100%;
}

.text-scroll {
  animation: marqueeAnimation 8s infinite linear;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

@media screen and (max-width: 768px) {
  .current-song-img {
    height: 50px;
  }

  .song-name {
    font-size: 16px;
  }

  .song-artist-album-container p {
    display: none;
  }
}

@media screen and (max-width: 536px) {
  .song-name {
    max-width: 100px;
  }
}

@media screen and (max-width: 368px) {
  .song-name {
    display: none;
    max-width: 0;
  }
}
