.music-player-controls {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.music-player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.play-button {
  cursor: pointer;

  height: 60px;
  width: 60px;

  background-color: #22272d;

  color: #fff;

  border: 5px solid #4361ee;
  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}

.play-button:active {
  transform: scale(95%);
}

.play-button:hover {
  filter: drop-shadow(0 0 4px #8b91ff);
}

@media screen and (max-width: 768px) {
  .play-button {
    height: 50px;
    width: 50px;
  }
}
